@import url('<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> ');

body {
  background-image: url('https://images.unsplash.com/photo-1508711046474-2f4c2d3d30ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Crimson Text', serif;
}

.App {
  text-align: center;
  font-size: 35px;
}

.wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.cards {
  height: 10em;
  width: 20em;
  margin: 1em;
  padding-top: 15px;
  background-color: rgb(255, 255, 255, .6)  ;
  font-size: 15px;
  border-radius: 20px;
}

h1 {
  margin-bottom: 0;
}

.loading {
  text-align: center;
  font-size: 10em;
}

.error {
  text-align: center;
  font-size: 10em;
}

.welcome {
  margin-top: 0.5em;
  text-align: center;
  font-size: 8em;
}

.splashwrap {
  height: 19em;
  width: 80%;
  display: flex;
  flex-flow: wrap;
  margin: 9em;
  padding-top: 0;
  justify-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255, .6);
  border-radius: 20px;
}

.bikelink {
  display: flex;
  text-align: center;
  font-size: 3em;
  justify-content: center;
  color:  rgb(0, 0, 0);
  margin-top: 0;
}

.homelink {
  color:  rgb(0, 0, 0);
}

